html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 13% 5fr;
  grid-template-rows: 1fr 1fr;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.7);
  z-index: 10;
}

.header-top {
  height: 6vw;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-row: 1 / 2;
  grid-template-columns: 0.4fr 10fr 2fr 0.5fr 3fr;
  align-items: center;
  border-bottom: 2px dotted gray;
}

.content {
  grid-template-rows: 6vw 1fr;
  border-top: 1px;
  border-color: #1992d4;
  background-color: #e2e8f0;
  display: grid;
  grid-column: 2 / 2;
  grid-row: 1 / 4;
}

.content-content {
  border-top: 1px;
  border-color: #1992d4;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 1fr 1fr 29vw;
  grid-template-rows: auto 2vw;
}

.yourProjectsTitle {
  display: grid;
  grid-row: 1 / 1;
  grid-column: 1 /3;
  font-size: 0.9vw;
  font-weight: normal;
  height: 0.9vw;
  margin-left: 15px;
  margin-top: 0.5vw;
}

.yourProjects {
  display: grid;
  grid-row: 1 / 4;
  grid-column: 1 / 3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3vw;
  gap: 20px;
  margin-bottom: 20px;
}

.yourProjects > div {
  background-color: white;
  border-radius: 12px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  margin-left: 15px;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit);
  grid-template-rows: 1fr 0.2fr;
}

.projectBottom {
  align-self: center;
  display: grid;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  grid-template-columns: 1fr 0.2fr 0.2fr;
  grid-template-rows: 1fr;
  justify-items: right;
  float: right;
}

.eyeImg {
  display: grid;
  justify-self: center;
}
.vectorImg {
  display: grid;
  justify-self: left;
}
.projectBottom > img {
  display: grid;
  margin-bottom: 0.4vw;
  height: 1.5vw;
  width: 1.5vw;
}

.projectsContent {
  display: grid;
  grid-column: 1 / span 3;
  grid-row: 1 / 2;
}

.projectsContent > text > h2 {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 1vw;
}

.projectsContent > text > p {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 10px;
  font-size: 0.9vw;
}

.announcements {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  border-radius: 12px;
  grid-template-rows: 3vw 19vw;
  grid-template-columns: 0.8fr;
  margin-right: 10px;
  width: 20vw;
}

.announcementsContent {
  display: grid;
  border-radius: 12px;
  background-color: white;
  grid-template-rows: repeat(3, 5.5vw);
  grid-template-columns: 100%;
  justify-content: center;
  margin-top: 20px;
}

.announcements > span > h2 {
  font-weight: normal;
  font-size: 1.5vw;
  display: grid;
  align-content: center;
  line-height: 5vw;
}

.announcementsContent > div {
  border-bottom: 0.1vw dotted grey;
  display: grid;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  width: 18vw;
  height: auto;
}

.announcementsContent > div:last-child {
  border-bottom: none;
  margin-bottom: 0.2vw;
}

.announcementsContent > div > text > h4 {
  margin-top: 0.6vw;
  margin-left: 10px;
  font-size: 0.9vw;
}

.announcementsContent > div > text > p {
  margin-left: 10px;
  font-size: 0.7vw;
}

.trending {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin-top: 2.5vw;
  grid-template-rows: 0.8vw 12vw;
  gap: 2vw;
}

.trending > span > h2 {
  font-size: 1.5vw;
  font-weight: normal;
}

.trending > div {
  background-color: white;
  display: grid;
}

.trendingContent {
  grid-row: 2 / 3;
  display: grid;
  margin-right: 30px;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: repeat(4, 3vw);
  width: 19vw;
}

.trendingContent > div:first-child {
  display: grid;
  margin-top: 0.3vw;
}

.trendingContent > div > text {
  display: grid;
  grid-column: 2 / 3;
  font-size: 1vw;
}

.trendingAvatar {
  display: grid;
  grid-column: 1 / 2;
  height: 100%;
  width: 100%;
}

.trendingAvatarImg {
  display: grid;
  height: 2vw;
  width: 2vw;
  justify-self: right;
  margin-right: 0.3vw;
}

.logo {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  margin-left: 20px;
  margin-top: 10px;
}

.logo > a {
  color: white;
  /* font-size: 25px; */
  font-size: 1vw;
  line-height: 3vw;
}

.logoImg {
  width: 100%;
  height: auto;
}

.menu {
  font-weight: bold;
  color: white;
  /* font-size: 18px; */
  font-size: 1vw;
  background-color: #1992d4;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  grid-template-rows: 5vw 0.4fr 0.2fr;
}

.firstMenu {
  margin-top: 1vw;
  grid-row: 2 / 3;
  margin-left: 1vw;
  display: grid;
}

.firstMenuList {
  grid-template-rows: repeat(6, 1fr);
  list-style: none;
  display: grid;
  gap: 5px;
}

.secondMenu {
  margin-top: 1vw;
  grid-row: 3 / 4;
  margin-left: 1vw;
  display: grid;
}

.secondMenuList {
  list-style: none;
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(3, 1fr);
}

.divMagnify {
  display: grid;
  justify-items: end;
  width: 1vw;
}

.avatar {
  grid-column: 4 / 4;
  grid-row: 1 / 2;
  display: grid;
  justify-items: end;
  margin-right: 15px;
}

.bell {
  height: 1.5vw;
  width: 1.5vw;
  display: grid;
  float: right;
  margin-right: 30px;
}

.name {
  grid-column: 5 / 5;
  grid-row: 1 / 2;
  display: grid;
  font-size: 1.3vw;
  font-weight: bold;
}

.divInput {
  margin-left: 40px;
  border-radius: 30px;
  width: 100%;
}

.imgMagnify {
  margin-right: 20px;
  display: grid;
  margin-left: 30px;
  height: 1.5vw;
  width: 1.5vw;
}

.inputBar {
  background-color: #e2e8f0;
  height: 1.5vw;
  width: 90%;
  border: none;
  border-radius: 12px;
}

.welcome {
  display: grid;
  grid-column: 1 / 3;
  text-align: left;
  grid-template-columns: 0.2fr 1fr;
}

.welcomeText {
  display: grid;
  right: 200px;
  font-size: 1vw;
}

.welcomePos {
  display: grid;
  justify-items: end;
  margin-right: 10px;
}

.avatarImgTop {
  height: 1.5vw;
  width: 1.5vw;
}

.avatarImg {
  height: 3vw;
  width: 3vw;
  display: grid;
  grid-row: 1 / 3;
}

button {
  margin: 0 auto;
  height: 1.5vw;
  width: 4.8vw;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  border-radius: 12px;
  color: white;
  background-color: #1992d4;
  font-size: 1vw;
}

.buttons {
  margin: 0 auto;
  grid-column: 3 /6;
  grid-row: 2 / 3;
  gap: 5px;
  display: flex;
  margin-left: 10px;
}

.buttons > button {
  margin-left: 20px;
}
