* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.menu {
  color: white;
  font-size: 18px;
  background-color: #1992d4;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.header-top {
  height: 150px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-row: 1 / 2;
  grid-template-columns: 0.4fr 10fr 0.5fr 2fr 3fr;
  align-items: center;
  border-bottom: 2px dotted gray;
}

.content {
  grid-template-rows: 0.2fr 1fr;
  border-top: 1px;
  border-color: #1992d4;
  background-color: #e2e8f0;
  display: grid;
  grid-column: 2 / 2;
  grid-row: 1 / 4;
}

.content-content {
  border-top: 1px;
  border-color: #1992d4;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;
  grid-template-rows: 50px 1fr 1fr;
}

.yourProjectsTitle {
  display: grid;
  grid-row: 1 / 1;
  grid-column: 1 /3;
  font-size: 15px;
  font-weight: normal;
  height: 50px;
  margin-top: 45px;
  margin-left: 19px;
}

.yourProjects {
  display: grid;
  grid-row: 1 / 4;
  grid-column: 1 / 3;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-template-rows: 50px 1fr 1fr;
  gap: 30px;
  margin-bottom: 20px;
}

.yourProjects > div {
  background-color: white;
  border-radius: 12px;
  display: grid;
  width: 90%;
  height: 200px;
  margin: 0 auto;
  margin-left: 15px;
}

.yourProjects > div > text > h2 {
  margin-top: 30px;
  margin-left: 15px;
}

.yourProjects > div > text > p {
  margin-top: 5px;
  margin-left: 15px;
}

.announcements {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  border-radius: 12px;
  grid-template-rows: 0.3fr 1fr;
}

.announcementsContent {
  display: grid;
  gap: 10px;
  border-radius: 12px;
  background-color: white;
  margin-right: 30px;
  width: 20rem;
}

.announcements > span {
  height: 100%;
  display: grid;
  font-size: 15px;
  font-weight: normal;
}

.announcements > span > h2 {
  font-size: 20px;
  display: grid;
  justify-items: first baseline;
  align-content: center;
  margin-top: 30px;
}

/* .announcements > div {
  background-color: white;
  margin-right: 10px;
} */

.announcementsContent > div {
  border-bottom: 1px dotted grey;
}

.announcementsContent > div:last-child {
  border-bottom: none;
}

.announcementsContent > div > text > h4 {
  margin-top: 20px;
  margin-left: 15px;
}

.announcementsContent > div > text > p {
  margin-top: 10px;
  margin-left: 15px;
}

.trending {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  margin-top: 20px;
  grid-template-rows: 0.2fr 0.4fr;
  gap: 1rem;
}

.trending > span > h2 {
  font-size: 20px;
}

.trending > div {
  background-color: white;
  display: grid;
}

.trendingContent {
  display: grid;
  margin-right: 30px;
  grid-template-columns: 0.2fr 1fr;
  width: 20rem;
}

.trendingContent > div {
  display: grid;
  gap: 30px;
  grid-template-rows: repeat(auto-fit, minmax(50px, 0.3fr));
}

.trendingAvatar {
  height: 40px;
  width: 40px;
  display: grid;
  justify-content: center;
}

.firstMenu {
  grid-row: 1 / 2;
  margin-top: 40px;
  margin-left: 30px;
  list-style: none;
  display: grid;
}

.secondMenu {
  grid-row: 3 / 4;
  margin-left: 30px;
  list-style: none;
  display: grid;
}

.divMagnify {
  display: grid;
  justify-items: end;
  width: 50px;
}

.avatar {
  grid-column: 4 / 4;
  grid-row: 1 / 2;
  display: grid;
  justify-items: end;
  margin-right: 15px;
}

.bell {
  display: grid;
}

.name {
  grid-column: 5 / 5;
  grid-row: 1 / 2;
  display: grid;
  font-size: 25px;
  font-weight: bold;
}

.divInput {
  margin-left: 40px;
  border-radius: 30px;
  width: 70%;
}

.imgMagnify {
  margin-right: 20px;
  display: grid;
  align-content: left;
}

.inputBar {
  display: inline-block;
  background-color: #b6b7b9;
  border-radius: 30px;
  width: 90%;
  height: 20px;
}

.welcome {
  display: grid;
  grid-column: 1 / 3;
  text-align: left;
  grid-template-columns: 0.2fr 1fr;
}

.welcomeText {
  display: grid;
  right: 200px;
}

.welcomePos {
  display: grid;
  justify-items: end;
  margin-right: 10px;
}

.avatarImgTop {
  height: 40px;
  width: 40px;
}

.avatarImg {
  height: 40px;
  width: 40px;
  display: grid;
  grid-row: 1 / 3;
}

button {
  height: 30px;
  width: 90px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  border-radius: 12px;
  color: white;
  background-color: #1992d4;
}

.buttonShare {
  margin: 0 auto;
}

.buttonUpload {
  margin: 0 auto;
}

.buttonNew {
  margin: 0 auto;
}

.buttons {
  margin: 0 auto;
  grid-column: 3 /6;
  grid-row: 2 / 3;
  gap: 5px;
  display: flex;
  margin-left: 10px;
}

.buttons > button {
  margin-left: 20px;
}
